@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
font-family: "Nunito";

}

.input-add {

    text-align: center;
    border-radius: 10px;
} 
input[type="number"]{
background-color: #f6f6f6;
border: none;
color: #0d0d0d;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 15px;
border: 2px solid #f6f6f6;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

input[type=number]:focus{
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=number]:placeholder {
    color: #cccccc;
  }